<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>竞比城市</title>
    <style>
        body{
            margin:0;
			margin: 0;
			    padding: 0;
        }
		::-webkit-scrollbar {
			/*隐藏滚轮*/
			display: none;
        }     
        div{
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }   
		.competitionCity{
			height: 100vh;
			width: 100vw;
			overflow: hidden;
			overflow-y: auto;
			position: relative;
		}
		.model{
			width: 100vh;height: 100vh;background-color: #FFFFFF;
        }
        
    </style>
    <link rel="stylesheet" href="./js/vant.css">
    <link rel="stylesheet" href="./css/competitionCity.css">
	<script src="./js/date.js"></script>
	<script src="./js/aqi.js"></script>
    <script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/vant.min.js"></script>
	<script src="./js/echarts.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/uni.webview.1.5.2.js"></script>
    <script src="./js/utils.js"></script>
</head>
<body >


<div class="competitionCity" id="app">
	<!-- 优化当页面一开始进入时加载出问题 -->
	<div class="model"  :style="{height:load?'0':''}">
    </div>
        <div class="container">
            <van-popup v-model="monthShow" round position="bottom"  >
                <div class="monthlyCalendar">
                    <!-- 关闭按钮 -->
                    <div class="month-close">
                        <div class="month-close-left">
                            日期选择
                        </div>
                        <div class="month-close-right" @click="monthClose">
                            <van-icon name="cross" />
                        </div>
                    
                    </div>
                    <div class="month-title">
                        <div class="title-left" @click="upper"> <van-icon name="arrow-left" /> </div>
                        <div class="title-center">  {{currentYear}}年 </div>
                        <div class="title-right" @click="lower"> <van-icon name="arrow" /> </div>
                    </div>
                    <!-- 内容 -->
                    <div class="month-cotent">
                        <div class="month-ul">
                            <div class="month-li"  v-for="(item, index) in monthLive" :key="'month'+index" @click="monthSelect(item)">
                                <div class="month-box"   :class="{dateSelect:((yearDateSelct[0] == currentYear && monthDateSelct[0] == item ) || (yearDateSelct[1] == currentYear && monthDateSelct[1] == item)) }">
                                    <div class="month-day"> {{item}}月</div>
                                    <div class="month-font" v-if="( yearDateSelct[0] == currentYear && monthDateSelct[0] == item )"> 开始 </div>
                                    <div class="month-font" v-if="( yearDateSelct[1] == currentYear && monthDateSelct[1] == item )"> 结束 </div>
                                </div>
                            </div>
                            <div class="month-li"  v-for="(item, index) in monthNoLive" :key="'ash'+index">
                                <div class="month-box">
                                    <div class="month-day month-ash"> {{12 - monthNoLive + item}}月</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 底部空间 -->
                    <div class="month-bottom">
                        <div class="month-button" @click="monthConfirm">
                            确定
                        </div>
                    </div>
                </div>

            </van-popup>

            <div class="time-title">
                    <div class="time-button" @click="timeClick">
                        {{defaultDateStr}}
                    </div>
                    <!-- 日历开始 -->
                    <van-calendar v-model="show" type="range" :min-date="minDate" :max-date="maxDate" :default-date="defaultDate"  color="#3c72f9" @confirm="onConfirm" />
                   
                    <!-- 日历结束 -->
            </div>

            <div class="date-switch">
                <div class="switch-box">
                    <div class="switch-button"v-bind:class="[ item.code == timeCode ? 'b_button' : '']"  v-for="(item, index) in timeArr"   @click="timeButtomChange(item)" :key="index">
                        {{item.name}}
                    </div>
                </div>
            </div>
            
            <div style="background-color: #f6f7f9;height: 20px;"></div>
            
            <div class="button-box">
                <div class="airButton air-flex">
                    <div class="a-button" v-bind:class="[ item.code == buttonCode ? 'b_button' : '']" v-for="(item,index) in airButtonArr" :key="index" @click="airButtomChange(item,index)">  <div v-html="item.html" class="b-text"></div> </div>
                </div>
            </div>
            <div class="chart">
                <div id="echarts1" class="echarts" ref="echarts1"></div>
            </div>

            <div style="background-color: #f6f7f9;height: 20px;"></div>
            
            <div class="city-box">
                <div class="city-button" v-for="(item, index) in citySelectArr" :key="index" @click="cityClick(item,index)">
                    {{item.cityname}}<van-icon class="city-icon" name="arrow-down" />
                </div>

                <van-popup v-model="popupShows" round position="bottom"  >
                    <van-picker show-toolbar  :columns="cityArr"  
                    @confirm="cityConfirmChange"
                    @cancel="cityCancelChange" value-key="cityname" /> 
            </div>

            <div class="city-table">
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <template v-for="(item, index) in citySelectArr" :key="index">
                                <th >{{item.cityname}}</th>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in tableList" :key="index">
                            <td> {{item.time}} </td>
                            <td>{{item.city1}}</td>
                            <td>{{item.city2}}</td>
                            <td>{{item.city3}}</td>
                            <td>{{item.city4}}</td>
                            <td>{{item.city5}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>   		
</div>



<script type="module" >
	var _self;
	var vm = new Vue({
        el : "#app",
		data : {
			   //下拉刷新
			   load:true,//窗体加载
               clientWidth:'',
               minDate:new Date('1980'),
               maxDate:new Date(),
               show: false,
               defaultDate:[new Date('2020/09/01'),new Date('2020/09/17')],//默认选中
               defaultDateStr:'',
               //自定义日历开始
               monthLive:9,
               monthNoLive:3,
               monthShow:false,//月份
               currentYear: 2020,//当前年份
               monthDateSelct:[1,9],
               yearDateSelct:[2019,2020],
               monthobj:{},
               //自定义日历结束
               timeArr:[
                  {code:'hour',name:"72小时"},
                  {code:'day',name:"30日"},
                  {code:'month',name:"12月"},
               ],
               timeCode:'hour',
               airButtonArr:[
                    {code:'aqi',name:'AQI',html:'AQI'},
                    {code:'pm25',name:'PM2.5',html:'PM<sub>2.5</sub>'},
                    {code:'pm10',name:'PM10',html:'PM<sub>10</sub>'},
                    {code:'o3',name:'O3',html:'O<sub>3</sub>'},
                    {code:'so2',name:'SO2',html:'SO<sub>2</sub>'},
                    {code:'no2',name:'NO2',html:'NO<sub>2</sub>'},
                    {code:'co',name:'CO',html:'CO'},
                ],
                buttonCode:'aqi',
                buttonIndex:0,
                strObj:{'PM2.5':`PM<sub>2.5</sub>`,'PM25':'PM<sub>2.5</sub>','PM10':'PM<sub>10</sub>','SO2':`SO<sub>2</sub>`,'NO2':'NO<sub>2</sub>','o3':'O<sub><sub>3</sub>','O3-8h':'O<sub><sub>3</sub>','O3':'O<sub><sub>3</sub>','-':'-'},
                popupShows:false,
                cityArr:[
                    {citycode:'130100',cityname:'石家庄市'},
                    {citycode:'130500',cityname:'邢台市'},
                    {citycode:'130400',cityname:'邯郸市'},
                    {citycode:'130600',cityname:'保定市'},
                    {citycode:'131100',cityname:'衡水市'},
                    {citycode:'130200',cityname:'唐山市'},
                    {citycode:'131000',cityname:'廊坊市'},
                    {citycode:'130900',cityname:'沧州市'},
                    {citycode:'130300',cityname:'秦皇岛市'},
                    {citycode:'130800',cityname:'承德市'},
                    {citycode:'131200',cityname:'张家口时'},
                ],
                citySelectArr:[//选中的城市
                    {citycode:'130100',cityname:'石家庄市'},
                    {citycode:'130500',cityname:'邢台市'},
                    {citycode:'130400',cityname:'邯郸市'},
                    {citycode:'130600',cityname:'保定市'},
                    {citycode:'131100',cityname:'衡水市'},
                ],
                cityAutoStr:'',
                citySelectIndex:0,
                tableList:[
                    {time:'09-17 10:00',city1:'-',city2:'-',city3:'-',city4:'-',city5:'-'},
                    {time:'09-17 09:00',city1:'50',city2:'43',city3:'30',city4:'50',city5:'30'},
                    {time:'09-17 08:00',city1:'40',city2:'47',city3:'32',city4:'44',city5:'34'},
                ],
                allData:[],//所有数据
                chartObj:{},
                starttime:'',//查询时间
                endtime:'',//
                color:['#4cc661','#3578eb','#48ceb3','#f2aa00','#f5516c']
            },
		created() {
            _self = this;

            //默认选择72小时
            let starttime = `${getDateYMDH(dateAdd(new Date(),'h',-72),'-')}:00:00`;
            let endtime = `${getDateYMDH(dateAdd(new Date(),'h',0),'-')}:00:00`;
            this.defaultDate = [new Date(starttime.replace(/-/g, '/')),new Date(endtime.replace(/-/g, '/')) ]
            this.defaultDateStr = `${getDateYMD(dateAdd(new Date(starttime.replace(/-/g, '/')),'d',-0),'-')}  -  ${getDateYMD(dateAdd(new Date(endtime.replace(/-/g, '/')),'d',-0),'-')}`

            this.starttime = `${getDateYMDH(dateAdd(new Date(starttime.replace(/-/g, '/')),'h',-0),'')}0000`;
            this.endtime = `${getDateYMDH(dateAdd(new Date(endtime.replace(/-/g, '/')),'h',-0),'')}0000`;

            this.queryData()
        },  
		mounted : function(){
			this.load = true
			 //解决键盘出来 屏幕缩小的问题
			 this.clientWidth = document.documentElement.clientWidth;
        },	
        computed: {
            monthStarts(){
                
            }
        },
        methods: {
            queryData(){
                this.cityAutoStr = '';
                this.citySelectArr.map(item=>{
                    this.cityAutoStr +=`${item.citycode},`
                })
                this.cityAutoStr = this.cityAutoStr.substring(0,this.cityAutoStr.length-1);
                let params = {
                    starttime:this.starttime,
                    endtime:this.endtime,
                    type:this.timeCode,
                    citycode:this.cityAutoStr
                }
                getHttp('/chinaMoniData/getMutilCityOnChinaByLongTime',params).then(res=>{
                    if(res.data.result && res.data.result.length>0){
                        this.allData = res.data.result;
                        this.ProcessingData(res.data.result)
                    }
                })
            },
            ProcessingData(){//数据进行处理
                let obj = {}
                let chartObj = {}
                
                for (let index = 0; index < this.citySelectArr.length; index++) {
                    obj[this.citySelectArr[index].citycode] = []
                    chartObj[this.citySelectArr[index].citycode] = []
                }
                for (let index = 0; index < this.allData.length; index++) {
                        obj[this.allData[index].citycode].push(this.allData[index])
                    
                }

                this.tableList = []
                
                for (let index = 0; index < obj[this.citySelectArr[0].citycode].length; index++) {
                    let datatime = obj[this.citySelectArr[0].citycode][index].datatime;
                    var date = new Date(datatime.replace(/-/g, '/'))
                    let time = ''
                    if(this.timeCode == 'day'){
                        time = `${date.getMonth()+1}月${date.getDate()}日`
                    }else if(this.timeCode == 'hour'){
                        time = `${addZero(date.getMonth()+1)}-${addZero(date.getDate())} ${addZero(date.getHours())}:00`
                    }else if(this.timeCode == 'month'){
                        time = `${date.getFullYear()}年${date.getMonth()+1}月`
                    }
                    
                    this.tableList.push({
                            time:time,
                            city1:obj[this.citySelectArr[0].citycode][index][this.buttonCode],
                            city2:obj[this.citySelectArr[1].citycode][index][this.buttonCode],
                            city3:obj[this.citySelectArr[2].citycode][index][this.buttonCode],
                            city4:obj[this.citySelectArr[3].citycode][index][this.buttonCode],
                            city5:obj[this.citySelectArr[4].citycode][index][this.buttonCode]
                        })

                    chartObj[this.citySelectArr[0].citycode].push([datatime,obj[this.citySelectArr[0].citycode][index][this.buttonCode] ])   
                    chartObj[this.citySelectArr[1].citycode].push([datatime,obj[this.citySelectArr[1].citycode][index][this.buttonCode] ])     
                    chartObj[this.citySelectArr[2].citycode].push([datatime,obj[this.citySelectArr[2].citycode][index][this.buttonCode] ])   
                    chartObj[this.citySelectArr[3].citycode].push([datatime,obj[this.citySelectArr[3].citycode][index][this.buttonCode] ])   
                    chartObj[this.citySelectArr[4].citycode].push([datatime,obj[this.citySelectArr[4].citycode][index][this.buttonCode] ])   
                }
                this.chartObj = chartObj;
                this.setBarEchart()
            },
            returnCityName(citycode){
                let name = ''
                this.cityArr.map(item=>{
                    if( item.citycode == citycode){
                        name = item.cityname;
                    }
                })
                return name;
            },
            setBarEchart(){//设置折线图
                let seriesDate = [];
                let legendArr = []
                
                if(JSON.stringify(this.chartObj) != '{}' ){
                    let colorIndex = 0;
                    for(let key in this.chartObj){
                        // this.returnCityName(key)
                        seriesDate.push({
                            name: this.returnCityName(key),
                            type: 'line',
                            symbol: 'none',
                            data:this.chartObj[key],
                            color:this.color[colorIndex],
                            itemStyle: {
                                normal: {
                                    lineStyle: {
                                        width:1// 0.1的线条是非常细的了
                                    }
                                }
                            },
                        })
                        legendArr.push( this.returnCityName(key))
                        colorIndex+=1;
                    }
                }



                let Labelformatter =  null;
                if(this.timeCode == 'month'){
                    Labelformatter = function(params,index){
                        let date = new Date(params)
                        let str = `${date.getMonth()+1}月`;
                        return str
                    }
                }else{
                    Labelformatter = function(params,index){
                        let date = new Date(params)
                        let str;
                        if(date.getHours() == 0 || date.getMinutes() > 0 || date.getSeconds() > 0){
                            str  = index === 0 ? '':`${date.getMonth() +1}月${date.getDate()}日`
                        }else{
                            str  = index === 0 ? '':`${date.getHours()}时`
                        }
                        return str
                    }
                }

                let _self = this;
                let option = {
                    tooltip: {
                        trigger: 'axis',
                        confine:true,
                    },
                    legend: {
                        y: 'bottom',
                        data:legendArr,
                    },
                    grid: {  
                        left: '10%',  
                        right: '8%', 
                        top: '10%',  
                        bottom: '30%',
                    },
					xAxis: {
                        type : 'time',
                        axisLine:{lineStyle:{color:"#9898a4"}},
                        splitLine:{show:false},
                        axisLabel: {
                                interval: 'auto',
                                // showMaxLabel:false,
                                formatter: Labelformatter
                        },
                    },
                    //9898a4
					yAxis: {
                        axisLine:{show:false, lineStyle:{color:"#9898a4"}},
                        axisTick:{show:false},
                        splitLine:{
                            lineStyle:{
                                type:'dashed'
                            }
                        }
                    },
                    series: seriesDate
                    // series: []
                }
                var myChart = echarts.init(document.getElementById('echarts1'));
                 // 使用刚指定的配置项和数据显示图表。
                 myChart.setOption(option);
            },
            airButtomChange(item,index){//切换污染物
                if( this.buttonCode !== item.code){
                    this.buttonCode = item.code;
                    this.echatName = item.name;
                    this.buttonIndex = index;
                    this.ProcessingData()
                }
            },
            cityClick(item,index){//点击城市
                this.popupShows = true;
                this.citySelectIndex = index;
            },
            cityConfirmChange(e){//城市确定
                let fig = false;
                this.citySelectArr.map(item=>{
                    if(item.citycode == e.citycode){
                        fig = true;
                    }
                })
                if( fig){
                    this.popupShows = false;
                    this.$toast({
                        message: '不允许选择已有城市,请重新选择',
                        position: 'bottom',
                        duration:'1000'
                    })
                }else{
                    this.citySelectArr[this.citySelectIndex].citycode = e.citycode;
                    this.citySelectArr[this.citySelectIndex].cityname = e.cityname;
                    this.popupShows = false;
                    this.queryData()
                }
                
            },
            cityCancelChange(){//城市取消
                this.popupShows = false;
            },
            timeButtomChange(e){//切换时间 年 日 月
                if(this.timeCode == e.code){
                    return
                }
                this.timeCode = e.code;
                //设置默认查询的时间
                if(this.timeCode == 'month'){//点击日期
                    let date = new Date();
                    let starttime = `${date.getFullYear()-1}-${date.getMonth()+1}-${date.getDate()}`;
                    let endtime = `${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()}`;

                    ///设置日历默认选中
                    this.monthDateSelct = [date.getMonth()+1,date.getMonth()+1 ]
                    this.yearDateSelct = [date.getFullYear()-1,date.getFullYear() ]
                    this.defaultDateStr = `${getDateYM(dateAdd(new Date(starttime.replace(/-/g, '/')),'d',-0),'-')}  -  ${getDateYM(dateAdd(new Date(endtime.replace(/-/g, '/')),'d',-0),'-')}`
                    
                    this.starttime = `${getDateYM(dateAdd(new Date(starttime.replace(/-/g, '/')),'h',-0),'')}00000000`;
                    this.endtime = `${getDateYM(dateAdd(new Date(endtime.replace(/-/g, '/')),'h',-0),'')}00000000`;

                    this.airButtonArr=[
                        {code:'countindex',name:'综合指数',html:'综合指数'},
                        {code:'pm25',name:'PM2.5',html:'PM<sub>2.5</sub>'},
                        {code:'pm10',name:'PM10',html:'PM<sub>10</sub>'},
                        {code:'o3_8h',name:'o3_8h',html:'O<sub>3</sub>_8h'},
                        {code:'so2',name:'SO2',html:'SO<sub>2</sub>'},
                        {code:'no2',name:'NO2',html:'NO<sub>2</sub>'},
                        {code:'co',name:'CO',html:'CO'},
                    ]
                   this.buttonCode = 'aqi';

                }else{
                    //说明点击的72小时和30日    
                    if(this.timeCode == 'day'){
                        //获取到前30天到今天
                        let starttime = `${getDateYMD(dateAdd(new Date(),'d',-30),'-')}`;
                        let endtime = `${getDateYMD(dateAdd(new Date(),'d',0),'-')}`;
                        //默认选中项
                        
                        this.defaultDate = [new Date(starttime.replace(/-/g, '/')),new Date(endtime.replace(/-/g, '/')) ]
                        this.defaultDateStr = `${getDateYMD(dateAdd(new Date(starttime.replace(/-/g, '/')),'d',-0),'-')}  -  ${getDateYMD(dateAdd(new Date(endtime.replace(/-/g, '/')),'d',-0),'-')}`
                        //查询时间设置
                        this.starttime = `${getDateYMD(dateAdd(new Date(starttime.replace(/-/g, '/')),'h',-0),'')}000000`;
                        this.endtime = `${getDateYMD(dateAdd(new Date(endtime.replace(/-/g, '/')),'h',-0),'')}000000`;

                        this.airButtonArr=[
                            {code:'aqi',name:'AQI',html:'AQI'},
                            {code:'pm25',name:'PM2.5',html:'PM<sub>2.5</sub>'},
                            {code:'pm10',name:'PM10',html:'PM<sub>10</sub>'},
                            {code:'o3_8h',name:'o3_8h',html:'O<sub>3</sub>_8h'},
                            {code:'so2',name:'SO2',html:'SO<sub>2</sub>'},
                            {code:'no2',name:'NO2',html:'NO<sub>2</sub>'},
                            {code:'co',name:'CO',html:'CO'},
                        ]

                    }else{
                        let starttime = `${getDateYMDH(dateAdd(new Date(),'h',-72),'-')}:00:00`;
                        let endtime = `${getDateYMDH(dateAdd(new Date(),'h',0),'-')}:00:00`;
                        this.defaultDate = [new Date(starttime.replace(/-/g, '/')),new Date(endtime.replace(/-/g, '/')) ]
                        this.defaultDateStr = `${getDateYMD(dateAdd(new Date(starttime.replace(/-/g, '/')),'d',-0),'-')}  -  ${getDateYMD(dateAdd(new Date(endtime.replace(/-/g, '/')),'d',-0),'-')}`
                         //查询时间设置
                        this.starttime = `${getDateYMDH(dateAdd(new Date(starttime.replace(/-/g, '/')),'h',-0),'')}0000`;
                        this.endtime = `${getDateYMDH(dateAdd(new Date(endtime.replace(/-/g, '/')),'h',-0),'')}0000`;
                        this.airButtonArr=[
                            {code:'aqi',name:'AQI',html:'AQI'},
                            {code:'pm25',name:'PM2.5',html:'PM<sub>2.5</sub>'},
                            {code:'pm10',name:'PM10',html:'PM<sub>10</sub>'},
                            {code:'o3',name:'O3',html:'O<sub>3</sub>'},
                            {code:'so2',name:'SO2',html:'SO<sub>2</sub>'},
                            {code:'no2',name:'NO2',html:'NO<sub>2</sub>'},
                            {code:'co',name:'CO',html:'CO'},
                        ]
                    }

                    
                    // o3_8h
                   
                }
                this.buttonCode = this.airButtonArr[this.buttonIndex].code;
                this.queryData()
            },
            timeClick(){//点击时间
                if(this.timeCode == 'month'){//点击日期
                    this.monthShow = true;

                }else{
                    //说明点击的72小时和30日
                    this.show = true;
                }
            },
            onConfirm(date) {//确地选择的时间
                const [start, end] = date;
                this.show = false;
                if(this.timeCode == 'day'){
                    let starttime = `${getDateYMD(dateAdd(new Date(start),'d',-0),'-')}`;
                    let endtime = `${getDateYMD(dateAdd(new Date(end),'d',0),'-')}`;

                    this.defaultDateStr = `${getDateYMD(dateAdd(new Date(starttime.replace(/-/g, '/')),'d',-0),'-')}  -  ${getDateYMD(dateAdd(new Date(endtime.replace(/-/g, '/')),'d',-0),'-')}`

                    this.starttime = `${getDateYMD(dateAdd(new Date(starttime.replace(/-/g, '/')),'h',-0),'')}000000`;
                    this.endtime = `${getDateYMD(dateAdd(new Date(endtime.replace(/-/g, '/')),'h',-0),'')}000000`;
                }else{
                    
                    let date = new Date();
                    if(end.getFullYear() == date.getFullYear() && end.getMonth()+1 == date.getMonth()+1 && end.getDate() == date.getDate() ){
                        //当他结束时间选择的今天按照现在的时间
                        let starttime = `${getDateYMDH(dateAdd(new Date(start),'h',0),'-')}:00:00`;
                        let endtime = `${getDateYMDH(dateAdd(new Date(),'h',0),'-')}:00:00`;
                        
                        this.defaultDateStr = `${getDateYMD(dateAdd(new Date(starttime.replace(/-/g, '/')),'d',-0),'-')}  -  ${getDateYMD(dateAdd(new Date(endtime.replace(/-/g, '/')),'d',-0),'-')}`
                    
                        this.starttime = `${getDateYMD(dateAdd(new Date(starttime.replace(/-/g, '/')),'h',-0),'')}000000`;
                        this.endtime = `${getDateYMDH(dateAdd(new Date(endtime.replace(/-/g, '/')),'h',-0),'')}0000`;
                    }else{

                        let starttime = `${getDateYMD(dateAdd(new Date(start),'h',-0),'-')} 00:00:00`;
                        let endtime = `${getDateYMD(dateAdd(new Date(end),'h',0),'-')} 23:00:00`;

                        this.defaultDateStr = `${getDateYMD(dateAdd(new Date(starttime.replace(/-/g, '/')),'d',-0),'-')}  -  ${getDateYMD(dateAdd(new Date(endtime.replace(/-/g, '/')),'d',-0),'-')}`
                        //如果不是今天的话统一按照00-23点
                        this.starttime = `${getDateYMD(dateAdd(new Date(starttime.replace(/-/g, '/')),'h',-0),'')}000000`;
                        this.endtime = `${getDateYMD(dateAdd(new Date(endtime.replace(/-/g, '/')),'h',-0),'')}230000`;
                    }
                }
                this.queryData()
            },
            //自定义日历开始
            monthClose(){//日期关闭
                this.monthShow = false;
            },
            upper(){//上一年
                this.currentYear = (this.currentYear - 1);
                let date = new Date();
                if(date.getFullYear() == this.currentYear  ){
                    this.monthLive = Number(date.getMonth()+1);
                    this.monthNoLive = Number(12 - this.monthLive);
                }else if(  this.currentYear > date.getFullYear()  ){
                    this.monthLive = 0;
                    this.monthNoLive = 12
                }else if(  this.currentYear < date.getFullYear()  ){
                    this.monthLive = 12;
                    this.monthNoLive = 0
                }
            },
            lower(){//下一年
                this.currentYear = (this.currentYear + 1);
                let date = new Date();
                if(date.getFullYear() == this.currentYear  ){
                    this.monthLive = Number(date.getMonth()+1);
                    this.monthNoLive = Number(12 - this.monthLive);
                }else if(  this.currentYear > date.getFullYear()  ){
                    this.monthLive = 0;
                    this.monthNoLive = 12
                }else if(  this.currentYear < date.getFullYear()  ){
                    this.monthLive = 12;
                    this.monthNoLive = 0
                }
            },
            monthSelect(e){//选择区间
                if( JSON.stringify(this.monthDateSelct) == '[]'){
                    this.monthDateSelct.push(e);
                    this.yearDateSelct.push(this.currentYear)
                }else{
                    if( this.yearDateSelct[0] > this.currentYear ){
                        //清空数据发生变化
                        this.monthDateSelct = [];
                        this.yearDateSelct = [];
                        this.monthDateSelct.push(e);
                        this.yearDateSelct.push(this.currentYear)
                    }else{
                        if(this.monthDateSelct[0] > e  ){
                            //清空数据发生变化
                            this.monthDateSelct = [];
                            this.yearDateSelct = [];
                            this.monthDateSelct.push(e);
                            this.yearDateSelct.push(this.currentYear)
                        }else{
                            if( this.monthDateSelct.length == 2){
                                this.monthDateSelct = [];
                                this.yearDateSelct = []
                                this.monthDateSelct.push(e);
                                this.yearDateSelct.push(this.currentYear)
                            }else{
                                this.monthDateSelct.push(e);
                                this.yearDateSelct.push(this.currentYear)
                                let obj = {
                                    starttime:`${this.yearDateSelct[0]}/${this.monthDateSelct[0]}`,
                                    endtime:`${this.yearDateSelct[1]}/${this.monthDateSelct[1]}`
                                }
                                // this.monthShow = false;
                                this.monthobj = obj;
                                // this.$emit('monthDateChanges',{
                                //     starttime:`${this.yearDateSelct[0]}/${this.monthDateSelct[1]}`,
                                //     endtime:`${this.yearDateSelct[1]}/${this.monthDateSelct[1]}`
                                // });//返回数据
                                
                            }
                        }
                    }
                    
                }
                
            },
            monthConfirm(){
                this.monthShow = false;
                let start = this.monthobj.starttime;
                let end = this.monthobj.endtime;

                let starttime = `${getDateYMD(dateAdd(new Date(start),'h',-0),'-')} 00:00:00`;
                let endtime = `${getDateYMD(dateAdd(new Date(end),'h',0),'-')} 23:00:00`;

                this.defaultDateStr = `${getDateYM(dateAdd(new Date(starttime.replace(/-/g, '/')),'d',-0),'-')}  -  ${getDateYM(dateAdd(new Date(endtime.replace(/-/g, '/')),'d',-0),'-')}`
                    
                this.starttime = `${getDateYM(dateAdd(new Date(starttime.replace(/-/g, '/')),'h',-0),'')}00000000`;
                this.endtime = `${getDateYM(dateAdd(new Date(endtime.replace(/-/g, '/')),'h',-0),'')}00000000`;

                this.queryData()
            },
            //自定义日历结束

        },
		
	});
	
</script>

</body>
</html>