<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>综合指数分担率</title>
    <style>
        body{
            margin:0;
			margin: 0;
			    padding: 0;
        }
		::-webkit-scrollbar {
			/*隐藏滚轮*/
			display: none;
        }     
        div{
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }   
		.competitionCity{
			height: 100vh;
			width: 100vw;
			overflow: hidden;
			overflow-y: auto;
			position: relative;
		}
		.model{
			width: 100vh;height: 100vh;background-color: #FFFFFF;
        }
        
    </style>
    <link rel="stylesheet" href="./js/vant.css">
    <link rel="stylesheet" href="./css/indexShareRate.css">
	<script src="./js/date.js"></script>
	<script src="./js/aqi.js"></script>
    <script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/vant.min.js"></script>
	<script src="./js/echarts.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/uni.webview.1.5.2.js"></script>
    <script src="./js/utils.js"></script>
</head>
<body >


<div class="competitionCity" id="app">
	<!-- 优化当页面一开始进入时加载出问题 -->
	<div class="model"  :style="{height:load?'0':''}">
    </div>
        <div class="container">
            <div class="time-nav">
                <div class="nav-left">
                    <div  class="picker" @click="clickPopupShows">
                        {{cityname}}<van-icon name="arrow-down" color="#d0d0d0" style="margin-left: 2px;" />
                    </div>
                    <van-popup v-model="popupShows" round position="bottom"  >
                        <van-picker show-toolbar  :columns="cityArr"  
                        @confirm="cityConfirmChange"
                        @cancel="cityCancelChange" value-key="cityname" /> 
                </div>
                <div class="nav-right">
                    <div class="right-time" @click="show=true;">
                        {{timeStr}}
                    </div>
                     <!-- 日历开始 -->
                     <van-calendar v-model="show"  :min-date="minDate" :max-date="maxDate"   color="#3c72f9" @confirm="onConfirm" />
                     <!-- 日历结束 -->
                </div>
            </div>
            <div style="background: #f6f7f9;height: 10px;"></div>

            <div class="chart-box airAqiLevel">
                <div class="title">
                    <div class="radioBox"> <div class="radioMinBox"></div> </div>
                    <div class="title-font">日</div>
                </div>
                <div class="echart-box">
                    <div class="echart" id="echart1"></div>
                </div>
            </div>
            
            <div style="background: #f6f7f9;height: 10px;"></div>
            <div class="chart-box airAqiLevel">
                <div class="title">
                    <div class="radioBox"> <div class="radioMinBox"></div> </div>
                    <div class="title-font">月</div>
                </div>
                <div class="echart-box">
                    <div class="echart" id="echart2"></div>
                </div>
            </div>

            <div style="background: #f6f7f9;height: 10px;"></div>
            <div class="chart-box airAqiLevel">
                <div class="title">
                    <div class="radioBox"> <div class="radioMinBox"></div> </div>
                    <div class="title-font">年</div>
                </div>
                <div class="echart-box">
                    <div class="echart" id="echart3"></div>
                </div>
            </div>
        </div>   		
</div>



<script type="module" >
	var _self;
	var vm = new Vue({
        el : "#app",
		data : {
			   //下拉刷新
			   load:true,//窗体加载
               clientWidth:'',
               minDate:new Date('1980'),
               maxDate:new Date(),
               show: false,
               defaultDate:[new Date('2020/01/01'),new Date('2020/09/22')],//默认选中
               defaultDateStr:'',
               //自定义日历开始
               monthLive:9,
               monthNoLive:3,
               monthShow:false,//月份
               currentYear: 2020,//当前年份
               monthDateSelct:[1,9],
               yearDateSelct:[2019,2020],
               monthobj:{},
               //自定义日历结束
               timeArr:[
                  {code:'hour',name:"72小时"},
                  {code:'day',name:"30日"},
                  {code:'month',name:"12月"},
               ],
               timeCode:'hour',
               airButtonArr:[
                    {code:'aqi',name:'AQI',html:'AQI'},
                    {code:'pm25',name:'PM2.5',html:'PM<sub>2.5</sub>'},
                    {code:'pm10',name:'PM10',html:'PM<sub>10</sub>'},
                    {code:'o3',name:'O3',html:'O<sub>3</sub>'},
                    {code:'so2',name:'SO2',html:'SO<sub>2</sub>'},
                    {code:'no2',name:'NO2',html:'NO<sub>2</sub>'},
                    {code:'co',name:'CO',html:'CO'},
                ],
                buttonCode:'aqi',
                buttonIndex:0,
                strObj:{'PM2.5':`PM<sub>2.5</sub>`,'PM25':'PM<sub>2.5</sub>','PM10':'PM<sub>10</sub>','SO2':`SO<sub>2</sub>`,'NO2':'NO<sub>2</sub>','o3':'O<sub><sub>3</sub>','O3-8h':'O<sub><sub>3</sub>','O3':'O<sub><sub>3</sub>','-':'-'},
                popupShows:false,
                cityArr:[
                    {citycode:'130100',cityname:'石家庄市'},
                    {citycode:'130500',cityname:'邢台市'},
                    {citycode:'130400',cityname:'邯郸市'},
                    {citycode:'130600',cityname:'保定市'},
                    {citycode:'131100',cityname:'衡水市'},
                    {citycode:'130200',cityname:'唐山市'},
                    {citycode:'131000',cityname:'廊坊市'},
                    {citycode:'130900',cityname:'沧州市'},
                    {citycode:'130300',cityname:'秦皇岛市'},
                    {citycode:'130800',cityname:'承德市'},
                    {citycode:'131200',cityname:'张家口市'},
                ],
                citycode:'130500',
                cityname:'邢台市',
                timeTypeArr:[
                    {code:'month',name:"本月"},
                    {code:'year',name:"本年"},
                ],
                timeType:'month',
                allData:[],
                airCalculation:{'pm25':35,'pm10':70,'co':4,'no2':40,'so2':60,'o3_8h':163},//综合指数贡献比指数计算
                airIndexName:{'pm25':'PM2.5','pm10':'PM10','co':'CO','no2':'NO2','so2':'SO2','o3_8h':'o3_8h'},//综合指数贡献比Name
                airIndexColor:{'pm25':'#ffcd3e','pm10':'#5cdfd7','co':'#ff7840','no2':'#56dd37','so2':'#d0f23b','o3_8h':'#4e9ff0'},//综合指数贡献比颜色
                initDate:'2020-09-22',
                timeStr:'今天',
            },
		created() {
            _self = this;
            this.initDate = `${getDateYMD(dateAdd(new Date(),'d',-1),'-')}`
            this.timeStr = `${getDateYMD(dateAdd(new Date(),'d',-1),'-')}`
            this.queryData()
        },  
		mounted : function(){
			this.load = true
			 //解决键盘出来 屏幕缩小的问题
			 this.clientWidth = document.documentElement.clientWidth;
        },
        methods: {
            clickPopupShows(){//点击城市
                this.popupShows = true;
            },
            cityConfirmChange(e){//城市确定
                if(e.citycode == this.citycode){
                    this.popupShows = false;
                    return 
                }
                this.citycode = e.citycode;
                this.cityname = e.cityname;

                this.popupShows = false;
                this.queryData();//切换城市查询数据
            }, 
            cityCancelChange(){//城市取消
                this.popupShows = false;
            },
            onConfirm(date){
                this.show = false;
                let today = new Date();
                this.initDate = `${date.getFullYear()}/${date.getMonth()+1}/${date.getDate()}`
                if( (today.getFullYear() == date.getFullYear()) && (today.getMonth()+1 == date.getMonth()+1) && (today.getDate() == date.getDate())  ){//当他为本年本月时 查询今天
                    this.timeStr = '今天'
                }else{
                    this.timeStr = `${addZero(date.getFullYear())}-${addZero(date.getMonth()+1)}-${addZero(date.getDate())}`
                }
                
                this.queryData();
            },
            queryData(){
                this.queryDayDate();
                this.queryMonthDate();
                this.queryYearDate();
                
            },
            queryDayDate(){//查询当天的信息
                let starttime = `${getDateYMD(dateAdd(new Date(this.initDate.replace(/-/g, '/')),'h',-0),'')}000000`;
                let endtime = `${getDateYMD(dateAdd(new Date(this.initDate.replace(/-/g, '/')),'h',-0),'')}230000`;
                let params = {
                    starttime:starttime,
                    endtime:endtime,
                    type:'day',
                    citycode:this.citycode,
                }
                getHttp('/chinaMoniData/getCityAirMoniListOnChinaByLongTime',params).then(res=>{
                    if(res.data.result && res.data.result.length>0){
                        this.ProcessingDayData(res.data.result)
                    }else{
                        this.ProcessingDayData([])
                    }
                })
                
            },
            ProcessingDayData(data){
                let legendData = []
                let seriesData = []
                let airIndexObj={'pm25':0,'pm10':0,'co':0,'no2':0,'so2':0,'o3_8h':0,}//综合指数贡献比数据
                let airIndex = 0;
                data.map(item=>{
                    for(name in airIndexObj){
                        airIndexObj[name] = ( airIndexObj[name] + item[name])
                    }
                })
                for(name in airIndexObj){
                    if( airIndexObj[name]>0){
                        //保留3位小数
                        let value =  ( Math.floor((airIndexObj[name]/this.airCalculation[name]) * 1000) / 1000)
                        airIndex += value;
                        airIndexObj[name] =value
                            seriesData.push({
                                value:value,
                                name:this.airIndexName[name],
                                itemStyle:{color:this.airIndexColor[name]}
                                
                            })
                        legendData.push(this.airIndexName[name])
                    }
                }
                let option = {
                    title:{
                        text: `综合指数${airIndex.toFixed(3)}`,
                        x:'center', 
                        y: 'bottom', 
                        textStyle: {
                            fontSize: 12,
                            fontStyle: 'normal',
                            fontWeight: 'normal',
                        },
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: '{b}<br/> 综指: {c} ({d}%)'
                    },
                    series: [
                        {
                            name: '综指',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '50%'],
                            data: seriesData,
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                var myChart = echarts.init(document.getElementById('echart1'));
                 // 使用刚指定的配置项和数据显示图表。
                 myChart.setOption(option);
            },
            queryMonthDate(){//查询月份信息
                let today = new Date()
                let date = new Date(this.initDate.replace(/-/g, '/') )
                let start =  `${date.getFullYear()}/${date.getMonth()+1}/01`
                let end = ''
                if( (today.getFullYear() == date.getFullYear()) && (today.getMonth()+1 == date.getMonth()+1)  ){//当他为本年本月时 查询今天
                    end = `${date.getFullYear()}/${date.getMonth()+1}/${today.getDate()}`
                }else{
                    end = `${date.getFullYear()}/${date.getMonth()+1}/${getLastDateDay(date)}`
                }

                let starttime = `${getDateYMD(dateAdd(new Date(start),'h',-0),'')}000000`;
                let endtime = `${getDateYMD(dateAdd(new Date(end),'h',-0),'')}230000`;
                let params = {
                    starttime:starttime,
                    endtime:endtime,
                    type:'day',
                    citycode:this.citycode,
                }
                getHttp('/chinaMoniData/getCityAirMoniListOnChinaByLongTime',params).then(res=>{
                    if(res.data.result && res.data.result.length>0){
                        this.ProcessingMonthData(res.data.result)
                    }else{
                        this.ProcessingMonthData(res.data.result)
                    }
                })
            },
            ProcessingMonthData(data){
                let legendData = []
                let seriesData = []
                let airIndexObj={'pm25':0,'pm10':0,'co':0,'no2':0,'so2':0,'o3_8h':0,}//综合指数贡献比数据
                let airIndex = 0;
                data.map(item=>{
                    for(name in airIndexObj){
                        airIndexObj[name] = ( airIndexObj[name] + item[name])
                    }
                })
                for(name in airIndexObj){
                    if( airIndexObj[name]>0){
                        //保留3位小数
                        let avg =  (airIndexObj[name]/data.length)
                        let value =  ( Math.floor((avg/this.airCalculation[name]) * 1000) / 1000)
                        airIndex += value;
                        airIndexObj[name] =value
                            seriesData.push({
                                value:value,
                                name:this.airIndexName[name],
                                itemStyle:{color:this.airIndexColor[name]}
                                
                            })
                        legendData.push(this.airIndexName[name])
                    }
                }
                let option = {
                    title:{
                        text: `综合指数${airIndex.toFixed(3)}`,
                        x:'center', 
                        y: 'bottom', 
                        textStyle: {
                            fontSize: 12,
                            fontStyle: 'normal',
                            fontWeight: 'normal',
                        },
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: '{b}<br/> 综指: {c} ({d}%)'
                    },
                    series: [
                        {
                            name: '综指',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '50%'],
                            data: seriesData,
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                var myChart = echarts.init(document.getElementById('echart2'));
                 // 使用刚指定的配置项和数据显示图表。
                 myChart.setOption(option);
            },
            queryYearDate(){//查询年份信息
                let today = new Date()
                let date = new Date(this.initDate.replace(/-/g, '/') )
                let start =  `${date.getFullYear()}/01/01`;
                let end = '';
                if( (today.getFullYear() == date.getFullYear()) && (today.getMonth()+1 == date.getMonth()+1)  ){//当他为本年本月时 查询今天
                    end = `${date.getFullYear()}/${date.getMonth()+1}/${today.getDate()}`
                }else{
                    end = `${date.getFullYear()}/${date.getMonth()+1}/${getLastDateDay(date)}`
                }
                let starttime = `${getDateYMD(dateAdd(new Date(start),'h',-0),'')}000000`;
                let endtime = `${getDateYMD(dateAdd(new Date(end),'h',-0),'')}230000`;
                let params = {
                    starttime:starttime,
                    endtime:endtime,
                    type:'day',
                    citycode:this.citycode,
                }
                getHttp('/chinaMoniData/getCityAirMoniListOnChinaByLongTime',params).then(res=>{
                    if(res.data.result && res.data.result.length>0){
                        this.ProcessingYearData(res.data.result)
                    }else{
                        this.ProcessingYearData(res.data.result)
                    }
                })
            },
            ProcessingYearData(data){
                let legendData = []
                let seriesData = []
                let airIndexObj={'pm25':0,'pm10':0,'co':0,'no2':0,'so2':0,'o3_8h':0,}//综合指数贡献比数据
                let airIndex = 0;
                data.map(item=>{
                    for(name in airIndexObj){
                        airIndexObj[name] = ( airIndexObj[name] + item[name])
                    }
                })
                for(name in airIndexObj){
                    if( airIndexObj[name]>0){
                        //保留3位小数
                        let avg =  (airIndexObj[name]/data.length)
                        let value =  ( Math.floor((avg/this.airCalculation[name]) * 1000) / 1000)
                        airIndex += value;
                        airIndexObj[name] =value
                            seriesData.push({
                                value:value,
                                name:this.airIndexName[name],
                                itemStyle:{color:this.airIndexColor[name]}
                                
                            })
                        legendData.push(this.airIndexName[name])
                    }
                }
                let option = {
                    title:{
                        text: `综合指数${airIndex.toFixed(3)}`,
                        x:'center', 
                        y: 'bottom', 
                        textStyle: {
                            fontSize: 12,
                            fontStyle: 'normal',
                            fontWeight: 'normal',
                        },
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: '{b}<br/> 综指: {c} ({d}%)'
                    },
                    series: [
                        {
                            name: '综指',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '50%'],
                            data: seriesData,
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                var myChart = echarts.init(document.getElementById('echart3'));
                 // 使用刚指定的配置项和数据显示图表。
                 myChart.setOption(option);
            },
            
        }    
		
	});
	
</script>

</body>
</html>