.container {
  height: 100%;
  width: 100%;
}
.container .monthlyCalendar {
  height: 100%;
  width: 100%;
}
.container .monthlyCalendar .month-close {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}
.container .monthlyCalendar .month-close .month-close-left {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .monthlyCalendar .month-close .month-close-right {
  height: 100%;
  width: 70px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: chartreuse;
}
.container .monthlyCalendar .month-title {
  height: 40px;
  line-height: 40px;
  width: 100%;
  display: flex;
  padding-top: 10px;
}
.container .monthlyCalendar .month-title .title-left {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container .monthlyCalendar .month-title .title-center {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .monthlyCalendar .month-title .title-right {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .monthlyCalendar .month-cotent {
  width: 100%;
}
.container .monthlyCalendar .month-cotent .month-ul {
  height: 100%;
  width: calc(100% - 30px);
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
}
.container .monthlyCalendar .month-cotent .month-ul .month-li {
  width: 25%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.container .monthlyCalendar .month-cotent .month-ul .month-li .dateSelect {
  background: #3c72f9;
  color: #fff;
}
.container .monthlyCalendar .month-cotent .month-ul .month-li .month-box {
  height: 64px;
  width: 52px;
  font-size: 12px;
}
.container .monthlyCalendar .month-cotent .month-ul .month-li .month-box .month-day {
  height: 42px;
  width: 100%;
  text-align: center;
  line-height: 60px;
}
.container .monthlyCalendar .month-cotent .month-ul .month-li .month-box .month-font {
  height: 20px;
  line-height: 14px;
  text-align: center;
}
.container .monthlyCalendar .month-cotent .month-ul .month-li .month-box .month-ash {
  color: #c8c9cc;
}
.container .monthlyCalendar .month-bottom {
  height: 30px;
  width: 100%;
}
